datasets/
env/
**/__pycache__/
**/.log/
.env

app/performance_runs/*
app/navigation_eval_outputs/*

# Except .gitkeep
!app/performance_runs/.gitkeep
!app/performance_runs/README.txt
!app/navigation_eval_outputs/.gitkeep
!app/navigation_eval_outputs/README.txt